<%= form_for([@news, @news.comments.build]) do |f| %>


  <div class="field">
    <%= f.label :body, "Type your comment here:" %><br>
    <%= f.text_area :body ,:id=>"textarea" %>
  </div>
  <div class="actions">
    <%= f.submit "Add comment" %>
  </div>
  
<% end %>
