<h1>Group member</h1><hr>
<p>Quan Fan s3516995</p>
<p>Yue Li   s3538075</p>

<h1>Heroku deployed URL</h1><hr>
<%= link_to 'https://ancient-bayou-49438.herokuapp.com/', "https://ancient-bayou-49438.herokuapp.com/" %>

<h1>Assignment 2 Bitbucket URL</h1><hr>
<%= link_to 'https://bitbucket.org/QuanFan/rad18_assign_2_group_-s3516995_quan-fan-_-s3538075_yue-li/src/submission/', "https://bitbucket.org/QuanFan/rad18_assign_2_group_-s3516995_quan-fan-_-s3538075_yue-li/src/submission/" %>


