// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsindex p{
    color:grey;
}
textarea#textarea2{
    height:300px;
    width:600px;
}
textarea#textarea3{
    width:600px;
}
strong{
    font-size:20px;
}
.newsindex{
    padding-top:30px;
}